@tailwind base;
@tailwind components;
@tailwind utilities;
html{
    background: #F3FFF8;
}
:root{
    --web-primary-color: #008C8C;
    --web-container:#F3FFF8;
    --green-mild:#44CFB6;
    --text-primary:#292D32;
}
body{
    background-color: var(--web-container);
}